@using Microsoft.AspNetCore.Identity
@using Agri_Ene.Models

@inject SignInManager<AgriUser> SignInManager
@inject UserManager<AgriUser> UserManager

<!-- Navbar -->
<ul class="navbar-nav text-white">
    <!-- If user is authenticated, then display this user banner -->
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var roles = await UserManager.GetRolesAsync(user);

        <!-- Check User Role -->
        @if (roles.Contains("farmer"))
        {
            <!-- Farmer Menu -->
            <ul class="navbar-nav">
                <!-- Navigation Links -->
                <li class="nav-item p-1">
                    <a class="nav-link text-white fs-6 fw-semibold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link text-white fs-6 fw-semibold" asp-area="" asp-controller="Product" asp-action="Create">Create Product</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link text-white fs-6 fw-semibold" asp-area="" asp-controller="Product" asp-action="FilterList">View Products</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link text-white fs-6 fw-semibold" asp-area="" asp-controller="Product" asp-action="Index">Manage Products</a>
                </li>

                <!-- User Dropdown -->
                <li class="nav-item dropdown px-2">
                    <a class="nav-link dropdown-toggle text-white fs-6 fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hello @UserManager.GetUserName(User)!
                    </a>
                    <ul class="dropdown-menu" style="background-color: rgba(80, 29, 0, 0.5);">
                        <!-- Logout Form -->
                        <li>
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="dropdown-item text-dark border-0 text-white fs-6 fw-semibold">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        }
        else if (roles.Contains("employee"))
        {
            <!-- Employee Menu -->
            <li class="nav-item px-4">
                <a class="nav-link text-white fs-6 fw-semibold" id="register" asp-area="Identity" asp-page="/Account/Register">Register Account</a>
            </li>
            <!-- User Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white fs-6 fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hello @UserManager.GetUserName(User)!
                </a>
                <ul class="dropdown-menu" style="background-color: rgba(80, 29, 0, 0.5);">
                    <!-- Logout Form -->
                    <li>
                        <form id="logoutForm" class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="dropdown-item text-dark border-0 text-white fs-6 fw-semibold">Logout</button>
                        </form>
                    </li>
                </ul>
            </li>
        }
    }
    else
    {
        <!-- If user is not authenticated, then display this login/register banner -->
        <li class="nav-item px-4">
            <a class="nav-link text-white fs-4 fw-bold" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
