<!-- Custom styling for buttons -->

<style>
    .btn-primary {
        background-color: #4CAF50;
        border-color: #4CAF50;
    }

    .btn-outline-secondary {
        border-color: #9FC98D;
        color: #9FC98D;
    }

        .btn-outline-secondary:hover {
            background-color: #4CAF50;
            border-color: #4CAF50;
            color: white;
        }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        background-color: #45A049; 
        border-color: #45A049;
        color: white; 
    }


</style>

<!-- Main content section -->
<h2 class="display-5 link-body-emphasis">Educational and Training Resources</h2>
<p class="lead my-3  pb-2 px-1">Our website offers a range of educational resources focused on integrating green energy technologies into agriculture. Participants can access online courses, webinars, and workshops tailored to showcase the benefits and practicalities of adopting renewable energy sources on farms. These materials aim to empower individuals with the knowledge and skills needed to implement sustainable practices, promoting environmental stewardship and economic resilience in farming communities..</p>
<hr>

<main class="container">
    <!-- Section for workshops and webinars -->
    <div class="row align-items-md-stretch pt-2">
        <!-- Workshop section -->
        <div class="col-md-6 pb-2">
            <div class="h-100 p-5 text-bg-dark rounded-3" style="background-color: rgba(159, 201, 141, 0.7); color: white;">
                <h2>Workshops</h2>
                <p>Discover hands-on workshops in sustainable agriculture and green energy tech. Led by industry experts, these sessions offer practical skills for a sustainable future.</p>
                <button class="btn btn-outline-light" type="button">Explore Workshops</button>
            </div>
        </div>
        <!-- Webinar section -->
        <div class="col-md-6 pb-2">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3" style="background-color: rgba(159, 201, 141, 0.4); color: white;">
                <h2>Webinars</h2>
                <p>Join dynamic webinars on agri-energy innovations. Learn from global experts, engage in discussions, and network with like-minded individuals.</p>
                <button class="btn btn-outline-secondary" type="button">Explore Webinars</button>
            </div>
        </div>
    </div>

    <!-- Section for online courses -->
    <h3 class="display-5 link-body-emphasis pt-5">Online Courses</h3>
    <hr>     
    
    <div class="album py-5 bg-body-tertiary pb-5>
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <!-- course cards -->
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="~/style_extra/s7.jpg" class="bd-placeholder-img card-img-top" width="100%" height="150" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Thumbnail">
                        <div class="card-body">
                            <h5 class="display-6 fw-normal fs-4">Solar-Powered Irrigation Systems</h5>
                            <p class="card-text">Learn the fundamentals of solar-powered irrigation systems, including design principles, installation techniques, and maintenance practices.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Enroll</button>
                                </div>
                                <small class="text-body-secondary">2 Hours</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- course cards -->
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="~/style_extra/s2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="150" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Thumbnail">
                        <div class="card-body">
                            <h5 class="display-6 fw-normal fs-4">Wind Energy for Farming</h5>
                            <p class="card-text">Discover how wind energy can revolutionize farming operations, covering topics such as wind turbine technology, site selection, and integration into agricultural landscapes.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Enroll</button>
                                </div>
                                <small class="text-body-secondary">3 Hours</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- course cards -->
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="~/style_extra/s1.jpg" class="bd-placeholder-img card-img-top" width="100%" height="150" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Thumbnail">
                        <div class="card-body">
                            <h5 class="display-6 fw-normal fs-4">Bioenergy Basics</h5>
                            <p class="card-text">
                                Explore the potential of bioenergy as a sustainable solution for farms, delving into biomass sources, conversion processes, and practical applications.
                            </p>           <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Enroll</button>
                                </div>
                                <small class="text-body-secondary">4 Hours</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- course cards -->
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="~/style_extra/s4.jpg" class="bd-placeholder-img card-img-top" width="100%" height="150" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Thumbnail">
                        <div class="card-body">
                            <h5 class="display-6 fw-normal fs-4">Smart Irrigation Technologies</h5>
                            <p class="card-text">Dive into the world of smart irrigation technologies, exploring sensor-based systems, data analytics, and precision irrigation techniques for optimized water usage.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Enroll</button>
                                </div>
                                <small class="text-body-secondary">5.5 Hours</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- course cards -->
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="~/style_extra/s3.jpg" class="bd-placeholder-img card-img-top" width="100%" height="150" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Thumbnail">
                        <div class="card-body">
                            <h5 class="display-6 fw-normal fs-4">Solar Energy Solutions</h5>
                            <p class="card-text">Learn about the latest advancements in solar energy applications for farm buildings and infrastructure, including solar panels, solar heating, and solar-powered cooling systems.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Enroll</button>
                                </div>
                                <small class="text-body-secondary">3 Hours</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- course cards -->
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="~/style_extra/s5.jpg" class="bd-placeholder-img card-img-top" width="100%" height="150" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Thumbnail">
                        <div class="card-body">
                            <h5 class="display-6 fw-normal fs-4">Integrating Renewable Energy</h5>
                            <p class="card-text">
                                Gain insights into sustainable farming practices that incorporate renewable energy technologies, covering topics such as agroforestry, organic farming, and energy-efficient farming methods.
                            </p>           <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Enroll</button>
                                </div>
                                <small class="text-body-secondary">4 Hours</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<!--__---____---____---____---____---____---____---__.ooo END OF FILE ooo.__---____---____---____---____---____---____---__-->